*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./img/fundo2.jpg);
    background-size: cover;
    color: rgb(235, 238, 235);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2.6rem;
} 

#caixa{
    height: 516px;
    border: 2px solid rgb(68, 66, 66);
    min-width: 150px;
}

#principal{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    height: 250px;
    
    padding: 20px;
    min-width: 150px;
    margin-top: 20px;
    color: rgb(255, 255, 255);
}

#btn{
    width: 150px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(77, 226, 97, 0.3);
    color: #ffff;
    margin-top: 30px;
    font-size: 1rem;
    
}

@media screen and (max-width:670px){
    h1{
        font-size: 4rem;
        margin-bottom: 20px;
    }
}
